<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../components/head.ejs") %>
  <title>Tridecco | Register</title>
  <%- include("../../libs/google-oauth.ejs") %>
  <script src="<%= env.CDN_URL %>/js/auth.js"></script>
</head>

<body class="h-screen overflow-hidden" style="background: url('<%= env.CDN_URL %>/img/backgrounds/wooden-board.jpg') center center / cover no-repeat;">
  <!-- Tridecco Background Container -->
  <div id="board-container" class="absolute top-0 left-0 w-full h-full"></div>

  <!-- Background Overlay with Blur -->
  <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-filter backdrop-blur-lg"></div>

  <!-- Centered Auth Form Container -->
  <div class="fixed inset-0 flex items-center justify-center">
    <div class="bg-white bg-opacity-90 p-8 rounded-lg shadow-xl w-96 max-w-sm backdrop-filter backdrop-blur-md">
      <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Create an Account</h2>
      <form id="auth-form" class="space-y-4">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
          <input type="email" id="email" name="email" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter your email">
        </div>
        <div class="flex items-center justify-between">
          <button id="register" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline w-full transition duration-200">
            Register
          </button>
        </div>
      </form>

      <!-- Google OAuth button -->
      <div id="g_id_onload" class="mt-4" data-client_id="<%= googleClientId %>" data-auto_prompt="false"></div>

      <p class="text-center text-gray-600 text-xs mt-4">
        Already have an account? <a class="text-blue-600 hover:text-blue-800" href="/login">Sign in</a>
      </p>
    </div>
  </div>

  <script>
    // Initialize authentication module
    const auth = new Authentication(app);
    const registerButton = document.getElementById("register");

    // Add click event listener to the register button
    registerButton.addEventListener("click", async (event) => {
      registerButton.disabled = true; // Disable button during processing
      event.preventDefault(); // Prevent form submission

      const email = document.getElementById("email").value; // Get entered email

      // Attempt to register
      const response = await auth.register(email);
      if (response.status === "success") {
        document.getElementById("auth-form").innerHTML = ""; // Clear form on success
        app.ui.notification(
          "alert",
          response.message,
          "success",
          document.getElementById("auth-form"),
          "register"
        );
      } else {
        registerButton.disabled = false; // Re-enable button on error
        app.ui.notification(
          "alert",
          response.message,
          "error",
          document.getElementById("auth-form"),
          "register"
        );
      }
    });

    // Google OAuth (Get the JWT token, and send it to the server)
    window.addEventListener('load', () => {
      google.accounts.id.initialize({
        client_id: "<%= googleClientId %>",
        callback: async (response) => {
          if (response.credential) {
            const token = response.credential;
            const loginResponse = await auth.oauthAuth(token);
            if (loginResponse.status === "success") {
              app.auth.set(loginResponse.data.user.id, loginResponse.data.accessToken, loginResponse.data.refreshToken, loginResponse.data.user.identities);
              app.location.redirect("/"); // Redirect on success
            } else {
              app.ui.notification(
                "alert",
                loginResponse.message,
                "error",
                document.getElementById("auth-form"),
                "register"
              );
            }
          }
        }
      });

      // Render the Google OAuth button
      google.accounts.id.renderButton(
        document.getElementById("g_id_onload"), {
          theme: "outline",
          size: "large",
          text: "continue_with",
          shape: "rectangular",
          width: "auto",
        }
      );
    });
  </script>

  <%- include("../../components/tridecco-board-animator.ejs") %>
</body>

</html>