<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <%- include("../components/head") %>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/js/game.js"></script>
    <meta name="description" content="An online multiplayer board game using unique 13-sided pieces, inspired by Einstein's 2023 discovery. Players aim to dispose of all their pieces, forming hexagons of the same color with two-color Einstein shapes to earn extra turns, while preventing opponents from doing the same.">
    <title>Tridecco | Game</title>
    <script>
        (async () => {
            const sessionStatus = await app.session.check();
            if (sessionStatus.authenticated === true && sessionStatus.twoFactorAuthenticated === false) {
                window.location.href = "/two-factor-authentication";
            } else if (sessionStatus.authenticated === false) {
                window.location.href = "/login";
            }
        })();
    </script>
</head>

<body class="h-full">
    <main class="h-full">
        <div id="queue" class="h-full hidden">
            <%- include("../components/game/queue") %>
        </div>
        <div id="room" class="h-full hidden">
            <%- include("../components/game/room") %>
        </div>
        <div id="ready" class="h-full hidden">
            <%- include("../components/game/ready") %>
        </div>
        <div id="game" class="h-full hidden">
            <%- include("../components/game/game") %>
        </div>
        <div id="error" class="h-full hidden">
            <%- include("../components/game/error") %>
        </div>
    </main>
    <script>
        // Get the game parameters from the url, and remove them from the url
        function getGameParameters() {
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);

            window.history.replaceState({}, document.title, window.location.pathname);

            return params;
        }

        // Get the game parameters
        gameParameters = getGameParameters();
        const gameStartType = gameParameters.get("type");
        const gameMode = gameParameters.get("gameMode") || null;
        const roomId = gameParameters.get("roomId") || null;

        // Create a new game ui instance
        const gameUI = new GameUI("/img/game/wood-texture.jpg");

        // Create a new game network instance
        const gameNetwork = new GameNetwork(app.serverUrl);

        // Add disconnect event listener
        const disconnectListener = () => {
            gameUI.showError("Disconnected", "You have been disconnected from the server. Please check your internet connection and try again.", null, () => {
                window.location.href = "/";
            }, "Back to Home");
        };
        gameNetwork.addListener("disconnect", disconnectListener);

        (async () => {
            // Authenticate the user
            try {
                await gameNetwork.authenticate((await app.session.check()).sessionId);
            } catch (error) {
                if (error.message === "User can only have one active session") {
                    gameUI.showError("Already in a game", "You can only have one active game session at a time. Please close the other game session to start a new one.", null, () => {
                        window.location.href = "/";
                    }, "Back to Home");
                    return;
                }
                window.location.href = "/login";
            }

            // Show the correct game component
            if (gameStartType === "queue") {
                // Show the queue component
                gameUI.showQueue(gameMode);

                // Join the queue
                try {
                    await gameNetwork.joinQueue(gameMode);
                } catch (error) {
                    gameUI.showError("Error Joining Queue", error.message, null, () => {
                        window.location.reload();
                    }, "Retry");
                }

                // Start the queue timer
                const queueTimer = gameUI.startQueueWaitingTime();

                // Add game ready event listener (once the game is ready)
                gameNetwork.addListenerOnce("gameReady", () => {
                    // Stop the queue timer
                    queueTimer.stop();

                    // Start the game
                    new Game(gameNetwork, gameUI);
                });
            } else if (gameStartType === "join") {
                // Join the room
                let room;
                try {
                    room = await gameNetwork.joinRoom(roomId);
                } catch (error) {
                    gameUI.showError("Error Joining Room", error.message, null, () => {
                        window.location.href = "/";
                    }, "Back to Home");
                    return;
                }

                // Get the players
                const players = room.players.map(player => {
                    return {
                        id: player.userId,
                        name: player.user.username,
                        avatar: player.user.profile.avatar,
                        isCurrentPlayer: player.userId === room.players[room.players.length - 1].userId
                    };
                });

                // Show the room component
                gameUI.showRoom(room.roomId, room.gameMode, players, false, async () => {
                    // Send the start room event
                    try {
                        await gameNetwork.startRoom();
                    } catch (error) {
                        gameUI.showError("Error Starting Room", error.message, null, () => {
                            window.location.href = "/";
                        }, "Back to Home");
                    }
                });

                // Add player joined event listener
                gameNetwork.addListener("userJoined", (data) => {
                    // Add the player to the room
                    gameUI.playerJoinedRoom({
                        id: data.userId,
                        name: data.user.username,
                        avatar: data.user.profile.avatar
                    });
                });

                // Add player left event listener
                gameNetwork.addListener("userLeft", (data) => {
                    // Remove the player from the room
                    gameUI.playerLeftRoom(data.userId);
                });

                // Add game start event listener
                gameNetwork.addListenerOnce("gameStart", () => {
                    // Start the game
                    new Game(gameNetwork, gameUI);
                });
            } else if (gameStartType === "create") {
                // Create the room
                let room;
                try {
                    room = await gameNetwork.createRoom(gameMode);
                } catch (error) {
                    gameUI.showError("Error Creating Room", error.message, null, () => {
                        window.location.href = "/";
                    }, "Back to Home");
                    return;
                }

                // Get the players
                const players = room.players.map(player => {
                    return {
                        id: player.userId,
                        name: player.user.username,
                        avatar: player.user.profile.avatar,
                        isCurrentPlayer: player.userId === room.players[room.players.length - 1].userId
                    };
                });

                // Show the room component
                gameUI.showRoom(room.roomId, gameMode, players, true, async () => {
                    // Send the start room event
                    try {
                        await gameNetwork.startRoom();
                    } catch (error) {
                        gameUI.showError("Error Starting Room", error.message, null, () => {
                            window.location.href = "/";
                        }, "Back to Home");
                    }
                });

                // Add player joined event listener
                gameNetwork.addListener("userJoined", (data) => {
                    // Add the player to the room
                    gameUI.playerJoinedRoom({
                        id: data.userId,
                        name: data.user.username,
                        avatar: data.user.profile.avatar
                    });
                });

                // Add player left event listener
                gameNetwork.addListener("userLeft", (data) => {
                    // Remove the player from the room
                    gameUI.playerLeftRoom(data.userId);
                });

                // Add game start event listener
                gameNetwork.addListenerOnce("gameStart", () => {
                    // Start the game
                    new Game(gameNetwork, gameUI);
                });
            } else {
                window.location.href = "/";
            }
        })();
    </script>
</body>

</html>